@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot") format("eot"), url("../fonts/SFProDisplay-Bold.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot") format("eot"), url("../fonts/SFProDisplay-Medium.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot") format("eot"), url("../fonts/SFProDisplay-Regular.ttf") format("ttf"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
button {
  font-size: 14px;
}

.disabled {
  color: #F0F0F0;
  opacity: 0.5;
  pointer-events: none;
  background: #F0F0F0;
}

.default, .default.small_size, .default.medium_size, .default.large_size {
  background-color: #ffffff;
  border: 2px solid #EB5E2A;
  color: #EB5E2A;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 8px;
  line-height: 14px;
}
.default:hover {
  background-color: #BE4C20;
  color: #ffffff;
  border-color: #BE4C20;
}
.default:focus {
  background-color: #EB5E2A;
  color: #ffffff;
}
.default:active:hover {
  background-color: #BE4C20;
  border-color: #BE4C20;
  color: #ffffff;
}
.default.large_size {
  width: 115px;
  height: 40px;
}
.default.medium_size {
  width: 115px;
  height: 32px;
}
.default.small_size {
  width: 115px;
  height: 24px;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot") format("eot"), url("../fonts/SFProDisplay-Bold.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot") format("eot"), url("../fonts/SFProDisplay-Medium.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot") format("eot"), url("../fonts/SFProDisplay-Regular.ttf") format("ttf"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
button {
  font-size: 14px;
}

.disabled {
  color: #F0F0F0;
  opacity: 0.5;
  pointer-events: none;
  background: #F0F0F0;
}

.default, .default.large_size, .default.medium_size, .default.small_size {
  background-color: #ffffff;
  border: 2px solid #EB5E2A;
  color: #EB5E2A;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 8px;
  line-height: 14px;
}
.default:hover {
  background-color: #BE4C20;
  color: #ffffff;
  border-color: #BE4C20;
}
.default:focus {
  background-color: #EB5E2A;
  color: #ffffff;
}
.default:active:hover {
  background-color: #BE4C20;
  border-color: #BE4C20;
  color: #ffffff;
}
.default.large_size {
  width: 115px;
  height: 40px;
}
.default.medium_size {
  width: 115px;
  height: 32px;
}
.default.small_size {
  width: 115px;
  height: 24px;
}

body {
  font-family: "SFProDisplay", sans-serif;
  height: 100vh;
}

.header {
  height: 10%;
  background: #FF7D25;
}
.header .search-container {
  display: flex;
  justify-content: center;
}
.header .search-container form {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.header .search-container form input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}
.header .search-container form button[type=submit] {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.header .search-container form button[type=submit]:hover {
  background-color: #FF7D25;
  font-size: 100%;
  color: white;
}

@media (max-width: 767px) {
  .header {
    height: auto;
    background: #FF7D25;
    padding: 20px;
  }
  .header .search-container {
    display: flex;
    justify-content: center;
  }
  .header .search-container form {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 80%;
    width: 20%;
  }
  .header .search-container form input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 16px;
    flex: 1;
  }
  .header .search-container form button[type=submit] {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .header .search-container form button[type=submit]:hover {
    background-color: #FF7D25;
    font-size: 100%;
    color: white;
  }
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot") format("eot"), url("../fonts/SFProDisplay-Bold.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot") format("eot"), url("../fonts/SFProDisplay-Medium.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot") format("eot"), url("../fonts/SFProDisplay-Regular.ttf") format("ttf"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
button {
  font-size: 14px;
}

.disabled {
  color: #F0F0F0;
  opacity: 0.5;
  pointer-events: none;
  background: #F0F0F0;
}

.default, .default.large_size, .default.medium_size, .default.small_size {
  background-color: #ffffff;
  border: 2px solid #EB5E2A;
  color: #EB5E2A;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 8px;
  line-height: 14px;
}
.default:hover {
  background-color: #BE4C20;
  color: #ffffff;
  border-color: #BE4C20;
}
.default:focus {
  background-color: #EB5E2A;
  color: #ffffff;
}
.default:active:hover {
  background-color: #BE4C20;
  border-color: #BE4C20;
  color: #ffffff;
}
.default.large_size {
  width: 115px;
  height: 40px;
}
.default.medium_size {
  width: 115px;
  height: 32px;
}
.default.small_size {
  width: 115px;
  height: 24px;
}

body {
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
}
.banner .content {
  text-align: center;
}
.banner .content img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 767px) {
  .banner {
    overflow: hidden;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  }
  .banner .slider_banner {
    margin: 0 0%;
    width: 90%;
  }
  .banner .slider_banner .item {
    width: 100%;
  }
  .banner .slider_banner .item img {
    width: 100%;
  }
  .banner .slider_banner .slick-dots {
    margin: 0;
  }
  .banner .slider_banner .slick-next {
    right: 0%;
  }
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot") format("eot"), url("../fonts/SFProDisplay-Bold.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot") format("eot"), url("../fonts/SFProDisplay-Medium.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot") format("eot"), url("../fonts/SFProDisplay-Regular.ttf") format("ttf"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
button {
  font-size: 14px;
}

.disabled {
  color: #F0F0F0;
  opacity: 0.5;
  pointer-events: none;
  background: #F0F0F0;
}

.default, .default.large_size, .default.medium_size, .default.small_size {
  background-color: #ffffff;
  border: 2px solid #EB5E2A;
  color: #EB5E2A;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 8px;
  line-height: 14px;
}
.default:hover {
  background-color: #BE4C20;
  color: #ffffff;
  border-color: #BE4C20;
}
.default:focus {
  background-color: #EB5E2A;
  color: #ffffff;
}
.default:active:hover {
  background-color: #BE4C20;
  border-color: #BE4C20;
  color: #ffffff;
}
.default.large_size {
  width: 115px;
  height: 40px;
}
.default.medium_size {
  width: 115px;
  height: 32px;
}
.default.small_size {
  width: 115px;
  height: 24px;
}

.event {
  display: flex;
  align-items: center;
  gap: 5%;
}
.event .button_event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  padding-bottom: 5%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event .button_event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot") format("eot"), url("../fonts/SFProDisplay-Bold.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot") format("eot"), url("../fonts/SFProDisplay-Medium.ttf") format("ttf"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot") format("eot"), url("../fonts/SFProDisplay-Regular.ttf") format("ttf"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
button {
  font-size: 14px;
}

.disabled {
  color: #F0F0F0;
  opacity: 0.5;
  pointer-events: none;
  background: #F0F0F0;
}

.default, .default.large_size, .default.medium_size, .default.small_size {
  background-color: #ffffff;
  border: 2px solid #EB5E2A;
  color: #EB5E2A;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 8px;
  line-height: 14px;
}
.default:hover {
  background-color: #BE4C20;
  color: #ffffff;
  border-color: #BE4C20;
}
.default:focus {
  background-color: #EB5E2A;
  color: #ffffff;
}
.default:active:hover {
  background-color: #BE4C20;
  border-color: #BE4C20;
  color: #ffffff;
}
.default.large_size {
  width: 115px;
  height: 40px;
}
.default.medium_size {
  width: 115px;
  height: 32px;
}
.default.small_size {
  width: 115px;
  height: 24px;
}

.content .grid-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.content .grid-item {
  border: 1px solid black;
  padding: 16px;
  border-radius: 13px;
  text-align: center;
}
.content .grid-item:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.content .grid-item a {
  text-decoration: none;
}
.content .grid-item a img {
  width: 100%;
}
.content .grid-item a img .infor .date {
  color: #8C8C8C;
}
.content .grid-item a img .infor span {
  color: #434343;
}

@media (max-width: 767px) {
  .content .grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  .content .grid-item a {
    text-decoration: none;
  }
  .content .grid-item a img {
    width: 100%;
  }
  .content .grid-item a img .infor .date {
    color: #8C8C8C;
  }
  .content .grid-item a img .infor span {
    color: #434343;
  }
}/*# sourceMappingURL=main.css.map */